* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15, 15;
}

header {
    display: flex;
    justify-content: space-between;
}

.scores {
    color: rgb(170, 25, 158);
}

.timer {
    color: black;
    align-items: flex-end;
    font-weight: bold;
    margin-top: 20px;
}

main {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30%;
}