 * {
     font-family: Arial, Helvetica, sans-serif;
     margin: 15, 15;
     -webkit-user-select: none;
 }
 
 header {
     display: flex;
     justify-content: space-between;
 }
 
 .scores-link {
     color: rgb(170, 25, 158);
 }
 
 .timer {
     color: black;
     align-items: flex-end;
     font-weight: bold;
     margin-top: 20px;
 }
 
 main {
     text-align: center;
 }
 
 li {
     padding: 20px;
 }
 
 .name-form {
     display: flex;
     flex-direction: row;
     justify-content: center;
 }
 
 .start-btn,
 .btn,
 .name-btn,
 .go-back,
 .clear-scores {
     outline: none;
     border: 10px white;
     padding: 10px 15px;
     background: rgb(41, 0, 80);
     color: white;
     font-size: 1.7rem;
     border-radius: 12px;
     position: relative;
     top: -3px;
     box-shadow: 0 3px grey;
 }
 
 .text-area-name {
     border: 2px solid grey;
     padding: 12px 20px;
     margin: 8px 0;
     border-radius: 4px;
 }
 
 .btn:hover,
 .clear-scores:hover,
 .go-back:hover,
 .start-btn:hover,
 .name-btn:hover {
     box-shadow: 0 2px grey;
     top: -2px;
     opacity: .7;
     background: rgb(128, 13, 112);
 }
 
 .btn:active,
 .go-back:active,
 .start-btn:active,
 .name-btn:active,
 .clear-scores:active {
     box-shadow: 0 0px grey;
     top: 0;
 }
 
 .score-el {
     list-style-type: none;
 }
 
 footer {
     display: flex;
     color: rgb(177, 13, 155);
     justify-content: center;
     align-items: flex-end;
     margin-top: 30%;
 }