
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15, 15;
}

header {
    display: flex;
    justify-content: space-between;
}

.scores {
    color: rgb(170, 25, 158);
}

.timer {
    color: black;
    align-items: flex-end;
    font-weight: bold;
    margin-top: 20px;
}

.result-div {
    text-align: center;
}

main {
    text-align: center;
}

li {
    padding: 20px;
}

.start-btn,
.btn {
    outline: none;
    border: 10px white;
    padding: 10px 15px;
    background: rgb(41, 0, 80);
    color: white;
    font-size: 1.7rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px grey;
}

.btn:hover,
.start-btn:hover {
    box-shadow: 0 2px grey;
    top: -2px;
    opacity: .7;
}

.btn:active,
.start-btn:active {
    box-shadow: 0 0px grey;
    top: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30%;
}
