* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15, 15;
}

header {
    display: flex;
    justify-content: space-between;
}

.scores {
    color: rgb(170, 25, 158);
}

.timer {
    color: black;
    align-items: flex-end;
}

footer {
    text-align: center;
}